@tailwind base;
@tailwind utilities;

html,
body {
  @apply overscroll-contain bg-gray-700 text-gray-800;
  @apply dark:bg-dark-700;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*::-webkit-search-cancel-button {
  display: none;
}

body {
  @apply min-h-screen flex flex-col;
}

/* Avoid Chrome to see Safari hack */
@supports (-webkit-touch-callout: none) {
  body {
    /* The hack for Safari */
    min-height: -webkit-fill-available;
  }
}

#root {
  @apply flex flex-col flex-1;
}

.vh-full {
  height: 100vh;
}

.max-vh-full {
  max-height: 100vh;
}

@supports (-webkit-touch-callout: none) {
  .vh-full {
    height: -webkit-fill-available;
  }

  .max-vh-full {
    max-height: -webkit-fill-available;
  }
}
