.action-toast {
  &-appear,
  &-enter {
    transform: translateY(100%);
  }

  &-appear-active,
  &-enter-active {
    transform: translateY(0);
  }

  &-exit-active {
    transform: translateY(100%);
  }
}
